package main

templ index() {
    for _, article := range Articles {
        <div class="article">
            <img src={article.ImageUrl} />
            <h2>{article.Title}</h2>
            <p>{article.Body}</p>
        </div>
    }
}
