body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    margin: 20px;
}

article:nth-child(odd) {
    flex-direction: row-reverse;
    background: white;
    border-radius: 8px;
}

.article-img {
    max-width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    padding: 0 20px;
}

p {
    font-size: 16px;
    padding: 0 20px;
}

nav {
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 800px;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #eee;
    border-radius: 8px;
    padding: 20px;
    margin: 50px 20px 20px;
    flex: 1 1 20%;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

.card:hover {
    background-color: #ddd;
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: auto;
    max-height: 90%;
    object-fit: cover;
    overflow: clip;
}

.glossary-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    margin: 100px auto auto;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup h2 {
    color: white;
    text-align: center;
}

#popup img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

#close-btn {
    color: black;
    cursor: pointer;
    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .content {
        padding: 10px;
    }

    article {
        max-width: 100%;
        flex-direction: column;
    }

    article:nth-child(odd) {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }

    #close-btn {
        font-size: 24pt;
    }
}
